/* Общие стили для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
    line-height: 1.6;
}

/* Шапка сайта */
header {
    background-color: #16A19C; /* Темный фон, можно поменять на цвет вашего бренда */
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff; /* Цвет при наведении, можно поменять */
}

/* Основное содержимое */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #16A19C;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

/* Секция-приветствие */
.hero {
    text-align: center;
    padding: 2rem;
    background: #0f6966;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    background: #ff0000; /* YouTube красный */
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.btn:hover {
    background: #cc0000;
}

/* Ссылки на соцсети */
.links {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Отступ между кнопками */
}

.social-btn {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s;
}

.social-btn:hover {
    opacity: 0.8;
}

/* Цвета для кнопок соцсетей (можно поменять) */
.tg { background-color: #0088cc; } /* Telegram */
.ds { background-color: #5865F2; } /* Discord */
.vk { background-color: #4a76a8; } /* VK */

/* Стили для видео */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.poloska-item {
    padding-left: 75px;
}


/* Подвал сайта */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #16A19C;
    color: #000000;
}


/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-btn {
        width: 80%;
        text-align: center;
        margin-bottom: 5px;
    }
}